/* dir: docs/public/css/laptop.css */

@media (min-width: 1200px) {
    .consulado {
        width: 55%;
        margin: 0 auto;
    }

    .popup.avisos {
        position: relative;
        background-color: var(--bg-color-light);
        border: 1px solid var(--border-color);
        border-radius: 0 0 12px 12px;
        padding: 0.9rem;
        width: 798px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        top: -3px;
        margin-bottom: -10px;
        color: black;
    }

    .progress_container,
    .centro_secao {
        margin: 2vw 6.7rem
    }
}