/* dir: docs/public/css/mobile.css */

/* Estilos Responsivos */
@media (min-width: 576px) {
    .titulo_principal h1 {
        font-size: 1.8rem;
    }

    .secao_inicial {
        padding: 1rem;
    }

    .centro_secao {
        padding: 1rem;
    }

    .cabecalho_alerta {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .corpo_alerta {
        padding: 0.5rem;
    }

    .popup {
        padding: 0.5rem;
    }

    .container_botoes {
        flex-direction: column;
    }

    .container_botoes button {
        width: 80%;
        margin: 0 auto;
    }

    .container_botoes {
        flex-direction: row;
        justify-content: center;
        gap: 6vw;
        margin: 0 3rem;
        margin-top: 1.5rem;
    }

    .container_botoes button {
        width: 40%;
        margin: 0 auto 0.5rem auto;
    }

    .envoltura_input {
        position: relative;
        margin-bottom: 10px;
    }

    .input_personalizado {
        width: 100%;
        padding: 13px 10px 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
    }

    .input_personalizado:focus {
        border-color: #03458c;
    }

    .input_personalizado::placeholder {
        color: transparent;
    }

    .rotulo_personalizado {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #999;
        transition: all 0.3s ease;
        font-size: 0.7em;
    }

    .input_personalizado:focus + .rotulo_personalizado,
    .input_personalizado:not(:placeholder-shown) + .rotulo_personalizado {
        top: 10px;
        font-size: 0.6em;
        color: var(--primary-color-active);
    }

    .div_radio_personalizado {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        font-size: 0.95em;
        flex-wrap: wrap;
        margin-top: 45px;
    }

    .rotulo_radio {
        font-weight: bold;
        color: #333;
        cursor: pointer;
        display: inline-block;
    }

    .input_radio {
        display: none;
    }

    .input_radio + .span_radio {
        display: inline-block;
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
    }

    .input_radio:checked + .span_radio {
        border-color: #007bff;
        color: #007bff;
    }

    .span_radio {
        font-size: 1em;
    }

    .rotulo_radio:hover {
        color: #007bff;
    }

    .conjunto_campos_g1,
    .conjunto_campos_g2 {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .selecao_padrao_01 {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 0.9em;
    }

    .rotulo {
        font-size: 0.9em;
        font-weight: bolder;
        margin: 5% 0 3% 0;
    }

    .btn_nacionalidade,
    .btn_visitas_anteriores {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        width: 2.8em;
        height: 2.7em;
        padding: 5px;
        border-radius: 15%;
        box-sizing: border-box;
    }

    .btn_imagem_adicionar,
    .btn_imagem_excluir {
        width: 30px;
        height: 30px;
    }

    .legenda_padrao_01 {
        float: left;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 0.8rem;
        font-size: calc(0.975rem + .3vw);
        line-height: inherit;
    }
}