/* dir: docs/public/css/mobile.css */

/* Estilos Responsivos */
@media screen and (max-width: 454.98px) {
    .popup.avisos {
        background-color: rgb(0 0 0 / 87%);
        color: whitesmoke;
        top: -90px;
        border-radius: 0px 0px 12px 12px;
    }
}
