/*



class="centro_secao"

class="div_viagem_eua"

class="secao_titulo_padrao"

class="conjunto_campos_g1"

class="conjunto_campos_g2"

class="legenda_padrao_01 legenda_1em"

class="div_radio_personalizado"

class="rotulo_radio"

class="input_radio"

class="span_radio"

class="container_botoes"

<div class="container_input_data"> -> input: class="w-100"




INPUT-WRAPPER:
<div class="envoltura_input">
    <input type="text" class="input_personalizado" placeholder="">
    
    <label for="" class="rotulo_personalizado"> </label>
</div>


CUSTOM-RADIO:
<div class="div_radio_personalizado">
    <label class="rotulo_radio" >
        <input type="radio" class="input_radio" value="Sim">
        <span class="span_radio">Sim, é este</span>
    </label>

    <label class="rotulo_radio">
        <input type="radio" class="input_radio" value="Não">
        <span class="span_radio">Não, não é este</span>
    </label>
</div>


CUSTOM-BTN:
<div class="mb-3 mactions d-flex justify-content-center align-items-center">
    <button type="button" class="btn_nacionalidade" aria-label="Adicionar">
        <img src="/svg/plus-svgrepo-com.svg" alt="Adicionar" class="btn_imagem_adicionar">
    </button>

    <button type="button" class="btn_nacionalidade" aria-label="Excluir">
        <img src="/svg/trash-svgrepo-com.svg" alt="Excluir" class="btn_imagem_excluir">
    </button>
</div>


DATE-INPUT-CONTAINER
<div class="container_input_data">
    <label for="">Data de 
        <input type="date" class="w-100" id="" name="">
    </label>
</div>



ESTILO TAG SELECT
<div>
    <select id="nacionalidade_conjuge" name="nacionalidade_conjuge"
        style="width: 100%; margin: 2% 0; text-align: centro; border-radius: 4px;">
        <option value="" selected disabled hidden>Selecione a nacionalidade</option>





Modelo Fieldset Custom Radio
<fieldset class="conjunto_campos_g1">
    <legend class="legenda_padrao_01 legenda_1em">perguntas....</legend>

    <div class="div_radio_personalizado">
        <label class="rotulo_radio">
            <input type="radio" id="id_aqui" name="nome_aqui"
                class="input_radio"
                onchange="toggle-especifico-aqui('campo_oculto_aqui', true)">
            <span class="span_radio">Sim, possuo</span>
        </label>

        <label class="rotulo_radio">
            <input type="radio" id="id_aqui" name="nome_aqui"
                class="input_radio"
                onchange="toggle-especifico-aqui('campo_oculto_aqui', false)">
            <span class="span_radio">Não, não possuo</span>
        </label>
    </div>

    <div id="campo_oculto_aqui" style="display: none;" class="envoltura_input">
        <textarea id="id_aqui" name="nome_aqui" rows="3"
            class="input_personalizado" placeholder=""></textarea>
        <label for="for-aqui" class="rotulo_personalizado">Explicação</label>
    </div>
</fieldset>




.corpo_alerta {
        padding: 1.6em;
        text-align: centro;
        border-radius: 0em 0em 1.5vw 1.5vw;
    }

    .bg-dark {
        background-color: #000 !important;
    }

    .bg-yellow {
        background-color: yellow !important;
    }

    .text-yellow {
        color: yellow !important;
    }

    .texto_preto {
        color: #000 !important;
    }

    .circulo_exclamacao {
        position: absolute;
        width: 10%;
        height: 55%;
        left: 2%;
        top: 25%;
    }

*/


/* 


altere para o modelo custom-radio


*/