@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

section:not(:first-child) {
    display: none;
}

:root {
    --primary-color: #0288D1;
    --secondary-color: #B3E5FC;
    --highlight-color: #81C784;
    --bg-color-light: #F5F5F5;
    --border-color: #ccc;
    --text-color-dark: #333;
    --text-color-light: #FFF;
    --complementary-color: #201d6dd4;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Bebas Neue', sans-serif;
    --button-font: 'Nunito', sans-serif;
    --primary-color-hover: #60f00d;
    --primary-color-active: #0288D1;
}

body {
    font-family: var(--font-family-primary);
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color-light);
    color: var(--text-color-dark);
}

.navbar {
    background-color: #F3E5F5;
    border-radius: 0px 0px 0.7em 0.7em
}

.logo_topo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.legenda_padrao_01 {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 0.8rem;
    font-size: calc(0.975rem + .3vw);
    line-height: inherit;
}

.legend_long, .legend_short {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--text-color-dark);
}

.legend_long {
    font-size: 0.8rem;
}

.legend_short {
    font-size: 1.2rem;
}

.progress_container {
    display: flex;
    align-items: center;
    margin: 2vw 0.7rem;
    padding: 10px 8px;
    background-color: #0084cd;
    border-radius: 4px;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.step_counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}

.progress_circle {
    width: 50px;
    height: 50px;
    transform: scale(1.2);
    margin-left: 0.3rem;
}

.bg_circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 5;
}

.progress_circle_fill {
    fill: none;
    stroke: #1b26ff;
    stroke-width: 5;
    stroke-dasharray: 125.6;
    stroke-dashoffset: 125.6;
    transition: stroke-dashoffset 0.3s ease;
}

.progress_text {
    font-size: 0.6rem;
    fill: whitesmoke;
    font-weight: 500;
}

.form_title {
    flex: 1;
    text-align: end;
    color: white;
}

.form_title h1 {
    font-size: 1.2rem;
    margin: 0px 0px 5px 0px;
}

.form_title p {
    font-size: 0.8rem;
    color: rgba(249, 240, 223, 0.829);
    margin: 5px 0px 0px 0px;
}

.conjunto_campos_g1, .conjunto_campos_g2 {
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.conjunto_campos_g1 {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: 0;
}

.conjunto_campos_g2 {
    background-color: var(--bg-color-light);
    color: var(--text-color-dark);
}

.secao_inicial {
    padding: 0.7rem;
    text-align: center;
}

.titulo_principal h1 {
    font-family: var(--font-family-secondary);
    font-size: 1.96rem;
    margin: 2rem 0;
    color: var(--primary-color);
}

.conteudo_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alerta {
    margin-bottom: 1.5rem;
}

.alerta_personalizado {
    position: relative;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cabecalho_alerta {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.corpo_alerta {
    background-color: var(--bg-color-light);
    color: var(--text-color-dark);
    padding: 0.5rem;
}

.popup {
    display: none;
    position: relative;
    background-color: var(--bg-color-light);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.9rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: -44px;
    margin-bottom: -76px;
}

.popup.avisos {
    background-color: rgb(0 0 0 / 87%);
    color: whitesmoke;
    top: -66px;
    border-radius: 0px 0px 12px 12px;
}

.icone_fechar {
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
    font-size: 1.7rem;
}

.info p {
    margin: 0;
    text-align: center;
    max-width: 812.04px;
}

.centro_secao {
    padding: 0;
    max-width: 100%;
    margin: 1rem 0.7rem;
    text-align: center;
}

.centro_secao label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.centro_secao select {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 0.6rem;
    text-align: center;
}

.caixa_observacao {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--text-color-dark);
}

.envoltura_input {
    position: relative;
    margin-bottom: 10px;
}

.input_personalizado {
    width: 100%;
    padding: 13px 10px 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.input_personalizado:focus {
    border-color: var(--primary-color-active);
}

.input_personalizado::placeholder {
    color: transparent;
}

.rotulo_personalizado {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: all 0.3s ease;
    font-size: 0.7em;
}

.input_personalizado:focus+.rotulo_personalizado,
.input_personalizado:not(:placeholder-shown)+.rotulo_personalizado {
    top: 10px;
    font-size: 0.6em;
    color: var(--primary-color-active);
}

.div_radio_personalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: 0.95em;
    flex-wrap: wrap;
    margin-top: 45px;
}

.rotulo_radio {
    font-weight: bold;
    color: var(--text-color-dark);
    cursor: pointer;
    display: inline-block;
}

.input_radio {
    display: none;
}

.input_radio+.span_radio {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    transition: border-color 0.3s ease;
}

.input_radio:checked+.span_radio {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.span_radio {
    font-size: 1em;
}

.rotulo_radio:hover {
    color: var(--primary-color);
}

.selecao_padrao_01 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 0.9em;
}

.rotulo {
    font-size: 0.9em;
    font-weight: bolder;
    margin: 5% 0 3% 0;
}

.btn_nacionalidade, .btn_visitas_anteriores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 2.8em;
    height: 2.7em;
    padding: 5px;
    border-radius: 15%;
    box-sizing: border-box;
}

.btn_imagem_adicionar, .btn_imagem_excluir {
    width: 30px;
    height: 30px;
}

.indice {
    position: relative;
    margin: 0.5rem auto;
    bottom: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #2d8ddc;
    color: whitesmoke;
    line-height: 25px;
    font-size: 1.2em;
}

.input_container {
    width: 100%;
    margin-bottom: 15px;
}

.selecao_data {
    width: 100%;
    margin: 0 auto;
}

input[type="text"]>.selecao_data {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.input-select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: auto !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.6 !important;
    padding: 0.5rem 1.5rem 0.5rem 1rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.select_oculto {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    padding-right: 20px;
}

.container_botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
}

.container_botoes button {
    position: relative;
    width: 90%;
    max-width: 300px;
    margin: 0 auto 0.5rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.container_botoes button:hover {
    background-color: var(--primary-color-hover);
}

.container_botoes button:active {
    background-color: var(--primary-color-active);
}

.container_botoes i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.secao_anterior i {
    left: 1.2rem;
}

.proxima_secao i {
    right: 1.2rem;
}

.btn_personalizado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn_personalizado span {
    flex-grow: 1;
    text-align: center;
}

.container_cards_style {
    background-color: #ffffff;
    border: 2px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.consulado {
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 0.6rem;
    box-shadow: 2px 3px 10px #00000091;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.secao_titulo_padrao {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.secao_titulo_padrao>h2 {
    font-size: 1.2rem;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 50vh !important;
    overflow-y: auto !important;
}

.button_container {
    display: flex;
    gap: 7vw;
    justify-content: center;
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}

.button_icon, .button_text {
    transition: all 0.3s;
}

.button .button_text {
    flex: 1;
    text-align: center;
    color: var(--font-color);
    font-weight: 600;
}

.button .button_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    margin: 0 -7px;
}

.button .svg {
    width: 20px;
    fill: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button_text {
    color: transparent;
}

.button:hover .button_icon {
    width: 100%;
}

.button:active, .button.reset-animation {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.button_add {
    --main-color: #28a745;
}

.button_add .svg {
    fill: #28a745;
}

.button_delete {
    --main-color: #dc3545;
}

.button_delete .svg {
    fill: #dc3545;
}

.input_personalizado.numero_passaporte {
    text-transform: uppercase;
}

/* Ocultar setas para cima e para baixo no Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.truncar_texto {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncar_texto option {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label_top_10px {
    top: 10px !important;
}

.select_pad__top_15px {
    padding-top: 15px !important;
}